@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back-icon {
    font-size: 30px; /* Tamanho do ícone de voltar */
    color: #000000;
    text-decoration: none;
}

section.container > header > a > span{
    font-size: 45px;
    
}

.container h2 {
    margin: auto;
}



.fazer-texto {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.fazer-texto input, 
.fazer-texto textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.fazer-texto textarea {
    height: 150px;
    resize: vertical;
}

.fazer-texto button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.fazer-texto button:hover {
    background-color: #0056b3;
}

#posts, h2{
    text-align: center;
}

iframe {
    margin: 10px;
}

/* Adaptação para dispositivos móveis */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .live-info h2 {
        font-size: 1em; /* Ajuste para dispositivos móveis */
    }

    .live-info p {
        font-size: 0.9em; /* Ajuste para dispositivos móveis */
    }
}
