@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

.live-section .link .material-symbols-outlined {
    font-size: 70px; /* Ajustado para aumentar o tamanho do ícone */
    width: 70px;     /* Ajustado para o novo tamanho do ícone */
    height: 70px;    /* Ajustado para o novo tamanho do ícone */
    margin-right: 10px;
}

.live-section, .collaborator-section, .link-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 70px;
}

section.container > section.header > div.user > a > span, a {
    font-size: 45px;
    color: white;
}

.header .book-icon .material-icons {
    font-size: 45px;
    color: white;
}

.live-section .link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.live-section .link .material-icons {
    font-size: 20px;
    margin-right: 10px;
}

.live-section .link a {
    text-decoration: none;
    color: #000000;
    /* Removido margin-left e ajustado para flexbox */
    display: inline-flex;
    align-items: center;
}

.live-section .live {
    text-align: center;
    font-size: 1.5em;
    color: #333;
}

.collaborator-section {
    text-align: center;
    font-size: 1.2em;
    color: #666;
    background-color: #FFDE59 ;
    width: 90vw;
    margin: auto;
}

.collaborator-section button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.collaborator-section button:disabled {
    background-color: #ccc;
    color: white;
    cursor: not-allowed;
}

.collaborator-section button:enabled:hover {
    background-color: #040404;
    color: #fff;
}

.link-section {
    text-align: center;
}

.link-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.link-section button {
    padding: 10px 20px;
    border: none;
    background-color: #000000;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

.link-section button:hover {
    background-color: #47494b;
}

.link-section .pix-option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-section .pix-option .material-icons {
    font-size: 30px;
    margin-right: 10px;
}

.link-section .pix-option button {
    padding: 10px 20px;
    border: none;
    background-color: #1aff00;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.link-section .pix-option button:hover {
    background-color: #00b327;
}



/* Adaptação para dispositivos móveis */
@media (max-width: 768px) {
    .header, .live-section, .collaborator-section, .link-section {
        padding: 10px;
    }

    .live-section .link {
        flex-direction: column;
        align-items: flex-start;
    }

    .live-section .link a {
        margin-top: 10px;
    }

    .link-section input {
        margin-bottom: 10px;
    }

    .link-section button {
        margin-bottom: 10px;
    }
}
